#Task 2

In [1]:
#import necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#upload the data
rev_data = pd.read_csv("C://Users/user/Desktop/Internship_Task/data_scientist_intern_revenue_model.csv", na_values = ' -   ')
print(rev_data.head(5))

   NAME   Revenue_2015     Revenue_2016    Revenue_2017    Revenue_2018  \
0  LAKI  19,039,781,738  24,671,631,399  24,573,762,847  22,608,855,366
1  YETS   3,687,564,000   3,663,588,000   3,420,430,000   3,265,963,000
2  PNMD   3,139,300,000   3,214,000,000   3,196,900,000   3,193,700,000
3  VKNF   1,994,112,000   2,023,348,000   1,982,028,000   2,007,387,000
4  HHVD     761,248,939   1,121,284,088   1,245,810,056   1,317,864,838

     Revenue_2019  Employees_2017  Employees_2018  Employees_2019  \
0  26,574,540,757             NaN           805.0           790.0
1   3,465,058,000             NaN          2394.0          2494.0
2   3,166,000,000          6411.0          6506.0          7750.0
3   2,009,031,000             NaN          1925.0          1995.0
4   1,779,401,992             NaN          5159.0          5599.0

   Employees_2020  Revenue_2020(To predict)
0           785.0                       NaN
1          2548.0                       NaN
2             NaN                       NaN
3          2050.0                       NaN
4          5483.0                       NaN

In [3]:
#check the dimensions of the data
rev_data.shape

(17424, 11)

In [4]:
#check for data types
rev_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17424 entries, 0 to 17423
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   NAME                      17424 non-null  object
 1   Revenue_2015              10244 non-null  object
 2   Revenue_2016              11505 non-null  object
 3   Revenue_2017              12306 non-null  object
 4   Revenue_2018              13349 non-null  object
 5   Revenue_2019              10097 non-null  object
 6   Employees_2017            2180 non-null   float64
 7   Employees_2018            5844 non-null   float64
 8   Employees_2019            13135 non-null  float64
 9   Employees_2020            9725 non-null   float64
 10  Revenue_2020(To predict)  0 non-null      float64
dtypes: float64(5), object(6)
memory usage: 1.5+ MB

In [5]:
#change object types to floats
rev_data["Revenue_2015 "] = rev_data["Revenue_2015 "].str.replace(",", "").astype(float)
rev_data["Revenue_2016"] = rev_data["Revenue_2016"].str.replace(",", "").astype(float)
rev_data["Revenue_2017"] = rev_data["Revenue_2017"].str.replace(",", "").astype(float)
rev_data["Revenue_2018"] = rev_data["Revenue_2018"].str.replace(",", "").astype(float)
rev_data["Revenue_2019"] = rev_data["Revenue_2019"].str.replace(",", "").astype(float)

In [6]:
#check summary statistics
rev_data.describe()

,Revenue_2015,Revenue_2016,Revenue_2017,Revenue_2018,Revenue_2019,Employees_2017,Employees_2018,Employees_2019,Employees_2020,Revenue_2020(To predict)
count,1.024400e+04,1.150500e+04,1.230600e+04,1.334900e+04,1.009700e+04,2180.000000,5844.000000,13135.000000,9725.000000,0.0
mean,3.234836e+07,3.143218e+07,3.201143e+07,3.330670e+07,4.220523e+07,190.532110,308.507871,154.315721,187.175013,NaN
std,3.223414e+08,3.457263e+08,3.502616e+08,3.600204e+08,4.433288e+08,592.070942,3578.611974,2488.600772,2941.532518,NaN
min,-8.067915e+06,-2.461409e+06,-2.647727e+06,-2.091800e+07,-2.292491e+06,3.000000,1.000000,1.000000,1.000000,NaN
25%,1.982458e+05,2.000000e+05,1.951265e+05,1.908390e+05,2.380000e+05,39.000000,38.000000,7.000000,10.000000,NaN
50%,1.375000e+06,1.262523e+06,1.238581e+06,1.177637e+06,1.412388e+06,68.000000,65.000000,23.000000,34.000000,NaN
75%,6.390438e+06,6.625147e+06,6.846440e+06,6.931242e+06,8.682046e+06,149.000000,142.250000,67.000000,79.000000,NaN
max,1.903978e+10,2.467163e+10,2.457376e+10,2.260886e+10,2.657454e+10,15425.000000,170200.000000,179223.000000,184967.000000,NaN

In [7]:
#how many values are missing in each column
rev_data.isnull().sum()

NAME                            0
Revenue_2015                 7180
Revenue_2016                 5919
Revenue_2017                 5118
Revenue_2018                 4075
Revenue_2019                 7327
Employees_2017              15244
Employees_2018              11580
Employees_2019               4289
Employees_2020               7699
Revenue_2020(To predict)    17424
dtype: int64

In [8]:
#percentage of missing values in each column
rev_data.isnull().sum() * 100/len(rev_data)

NAME                          0.000000
Revenue_2015                 41.207530
Revenue_2016                 33.970386
Revenue_2017                 29.373278
Revenue_2018                 23.387282
Revenue_2019                 42.051194
Employees_2017               87.488522
Employees_2018               66.460055
Employees_2019               24.615473
Employees_2020               44.186180
Revenue_2020(To predict)    100.000000
dtype: float64

In [9]:
#filling in missing values with the mean of the column
rev_data["Revenue_2015 "] = rev_data["Revenue_2015 "].fillna(rev_data["Revenue_2015 "].mean())
rev_data["Revenue_2016"] = rev_data["Revenue_2016"].fillna(rev_data["Revenue_2016"].mean())
rev_data["Revenue_2017"] = rev_data["Revenue_2017"].fillna(rev_data["Revenue_2017"].mean())
rev_data["Revenue_2018"] = rev_data["Revenue_2018"].fillna(rev_data["Revenue_2018"].mean())
rev_data["Revenue_2019"] = rev_data["Revenue_2019"].fillna(rev_data["Revenue_2019"].mean())
rev_data["Employees_2017"] = rev_data["Employees_2017"].fillna(rev_data["Employees_2017"].mean())
rev_data["Employees_2018"] = rev_data["Employees_2018"].fillna(rev_data["Employees_2018"].mean())
rev_data["Employees_2019"] = rev_data["Employees_2019"].fillna(rev_data["Employees_2019"].mean())
rev_data["Employees_2020"] = rev_data["Employees_2020"].fillna(rev_data["Employees_2020"].mean())
rev_data["Revenue_2020(To predict)"] = rev_data["Revenue_2020(To predict)"].fillna(0)

In [10]:
#verifying that there is no missing values
rev_data.isnull().sum()

NAME                        0
Revenue_2015                0
Revenue_2016                0
Revenue_2017                0
Revenue_2018                0
Revenue_2019                0
Employees_2017              0
Employees_2018              0
Employees_2019              0
Employees_2020              0
Revenue_2020(To predict)    0
dtype: int64

In [11]:
#checking for duplicates
duplicate = rev_data.duplicated()
print(duplicate.sum())

0

In [12]:
#checking for correlations in the data
rev_data.corr()

,Revenue_2015,Revenue_2016,Revenue_2017,Revenue_2018,Revenue_2019,Employees_2017,Employees_2018,Employees_2019,Employees_2020,Revenue_2020(To predict)
Revenue_2015,1.000000,0.973378,0.938937,0.940714,0.914213,0.231478,0.076024,0.081952,0.062870,NaN
Revenue_2016,0.973378,1.000000,0.967064,0.958095,0.931584,0.222463,0.078226,0.083934,0.065722,NaN
Revenue_2017,0.938937,0.967064,1.000000,0.965204,0.928002,0.226325,0.083774,0.090171,0.072013,NaN
Revenue_2018,0.940714,0.958095,0.965204,1.000000,0.957587,0.237024,0.087108,0.094165,0.075059,NaN
Revenue_2019,0.914213,0.931584,0.928002,0.957587,1.000000,0.223301,0.072698,0.079594,0.062276,NaN
Employees_2017,0.231478,0.222463,0.226325,0.237024,0.223301,1.000000,0.107935,0.108975,0.027552,NaN
Employees_2018,0.076024,0.078226,0.083774,0.087108,0.072698,0.107935,1.000000,0.997629,0.993196,NaN
Employees_2019,0.081952,0.083934,0.090171,0.094165,0.079594,0.108975,0.997629,1.000000,0.993646,NaN
Employees_2020,0.062870,0.065722,0.072013,0.075059,0.062276,0.027552,0.993196,0.993646,1.000000,NaN
Revenue_2020(To predict),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN